html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "segoe ui", Helvetica, Arial, "WenQuanYi Zen Hei", "Apple LiGothic Medium", "Microsoft JhengHei", sans-serif;
    font-size: 16px;
}

form {
    display: inline;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a img {
    border:0px;
}

.wrapper {
}

.sidebar {
    text-align: center;
    position: fixed;
    background: #163549;
    color: #fff;
    width: 300px;
    height: 100%;
    font-size: 24px;
    padding: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.thumb img {
    margin: 30px 0 0;
    width: 180px;
    height: 180px;
}

.name {
}

.contact {
    overflow: auto;
    margin: 30px 0 30px;
}

.contact li {
    display: inline-block;
    margin: 0 8px 0 0;
}

.sidebar a {
    color: #ccc;
}

.sidebar a:hover {
    color: #fff;
}

.menu {
    border-top: 1px solid #666;
    padding: 30px 0;
}

.menu ul {
    line-height: 2;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.main {
    margin-left: 300px;
    /*padding: 60px;*/
}

.section {
padding: 60px;
}

.about .article {
    padding: 40px;
}

.experience, .works {
    background: #fafafa;
}

.blockquote {
    margin: 30px 0;
    padding:20px;
}

.blockquote-red{
   border-left: 3px solid #f00;
}

.blockquote-gray{
   border-left: 3px solid #ccc;
}

.job .title {    
    font-size: 20px
}

.student .school {    
    font-size: 20px
}


.circle {
    width:20px;
    height:20px;
    border-radius:10px;
    border: 1px solid #000;    
    background:#fff
}
