html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "segoe ui", Helvetica, Arial, "WenQuanYi Zen Hei", "Apple LiGothic Medium", "Microsoft JhengHei", sans-serif;
    font-size: 12px;
}


form {
    display: inline;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a img {
    border:0px;
}

.wrapper {
}

.sidebar {
    text-align: center;
    position: fixed;
    background: #163549;
    color: #fff;
    width: 60px;
    height: 100%;
    font-size: 24px;
    white-space: nowrap;
    transition: all 500ms ease 0s;
    z-index: 50;
}

.sidebar-reveal {
    width: 300px;
}

.sidebar a {
    color: #ccc;
}

.sidebar a:hover {
    color: #aaa;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.thumb {
    display: none;
    transition: all 500ms ease 0s;
}

.sidebar-reveal .thumb{
    display: block;
}


.thumb img {
    margin: 30px 0 0;
    width: 180px;
    height: 180px;
}

.name {
    display: none;
}

.sidebar-reveal .name {
    display: block;
}

.contact {
    top: 274px;
    left: 72px;
    position: fixed;
    overflow: none;
    display: none;
    z-index: 100;
}

.sidebar-reveal .contact {
    margin: 30px 0 30px;
    position: static ;
    display: block;
}

.contact li {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 8px 6px;
    background: #fff;
    display: inline-block;
}

.sidebar-reveal .contact li {
    margin: 0 8px 0 0;
    padding: 0;
    border: 0;
    background: none;
}

.contact a:hover {
    color: #aaa;
}

.sidebar-reveal .contact a:hover {
    color: #fff;
}

.menu {
    padding: 30px 0;
}

.menu ul {
    line-height: 2;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.menu a i {
    text-align: center;
    width: 30px;
}

.sidebar-reveal .menu {
    border-top: 1px solid #666;
}

.sidebar-reveal .menu a i{
    display: none;
}

.menu a span {
    display: none;
}

.sidebar-reveal .menu a span {
    display: inline-block;
    margin-left: 5px;
}

.sidebar-reveal .menu li:last-child {
    display: none;
}

.main {
    margin-left: 60px;
    position: relative;
    transition: all 500ms ease 0s;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
}

.sidebar-reveal ~ .main {
    margin-left: 0px;
    transform: translateX(300px);
    width: calc(100% - 300px);
}

.section {
    padding: 20px;
}

.about .article {
    /*padding: 40px;*/
}

.main > div:nth-child(even) {
    background: #fafafa;
}

.blockquote {
    margin : 20px 0;
    padding: 10px 40px;
}

.blockquote-red{
   border-left: 3px solid #f00;
}

.blockquote-gray{
   border-left: 3px solid #ccc;
}

.job .title {
    font-size: 16px
}

.job .during {
    margin-bottom: 10px;
}

.student .school {
    font-size: 16px
}


.circle {
    width:20px;
    height:20px;
    border-radius:10px;
    border: 1px solid #000;
    background:#fff
}

.thumbnail {
    overflow: hidden;
    padding: 0px;
}

.thumbnail .link {
    padding: 9px;
    overflow: hidden;
}

.thumbnail .caption {
    overflow: hidden;
}

.float-nav {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    z-index: 100;
}

.square-nav a {
    color: #ccc;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 8px 6px;
    background: #fff;
}

.square-nav a:hover {
    color: #aaa;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .section {
        padding: 30px 60px;
    }

    .job .title {
        font-size: 20px
    }

    .student .school {
        font-size: 20px
    }
}
